.questions-container{
  padding: 55px 22px;
}
.questions{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.questions-title{
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 28px;
  margin: 0;
}
.questions-container-card{
  display: flex;
  flex-direction: column;
  background-color: #C2AAFF;
  border-radius: 12px;
}
details{
  border-top: 2px solid #FFF;
  padding: 15px 10px;
}
summary{
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}
summary::marker{
  color: #FFF;
}
.detail-text{
  margin: 0 10px;
  text-align: start;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
}
@media(min-width: 800px){
  .questions-container{
    display: flex;
    justify-content: center;
  }
  .questions{
    justify-content: start;
    width: 800px;
  }
  .details-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}