.info-card{
    text-align: start;
    padding: 0 10px;
}
.title-card{
    font-size: 1em;
    color: rgb(47, 47, 147);
}
.txt-card{
    font-size: .8em;
}
.button-card{
    background-color: rgb(220, 253, 253);
    color: rgb(0, 0, 0);
    font-size: .7em;
    border-radius: 20px;
    padding: 5px 8px;
}
