.contact-container{
  background-color: #323232;
  padding: 30px 0;
}
.contact{
  margin: 0 22px;
}
.contact-title{
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 28px;
}
.more-info-mail{
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.socials{
  display: flex;
  gap: 2rem;
}
.logo-social{
  width: 25px;
}
.contact-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 2rem;
}
.label{
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.input{
  display: block;
  width: 250px;
  height: 30px;
  padding: 16px;
  border: none;
  border-radius: 8px;
  color: #323232;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.textarea{
  display: block;
  min-width: 250px;
  width: 250px;
  border-radius: 8px;
  max-width: 250px;
  height: 80px;
  padding: 16px;
}
.btn-submit{
  border: none;
  background-color: #C2AAFF;
  border-radius: 8px;
  width: 100px;
  height: 40px;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
}
@media(min-width: 800px){
  .contact-container{
    display: flex;
    justify-content: center;
  }
  .contact{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    max-width: 800px;
    margin: 0;
  }
}