
.hero-title{
    font-size: clamp(35px,5vw,50px);
    
}

.hero-caption{
    font-size: clamp(25px,3vw,30px);
}
.th-container{
    display: flex;
    flex-direction: column;
}
@media(max-width: 650px){
    .first, .second{
        display: block;
    }
}
