.section-navbar-container{
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.section-navbar{
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  margin: 10px 22px;
  width: 100%;
}
.logo-web-site, .icon-nav{
  width: 35px;
  height: 35px;
}
.icons-container{
  display: flex;
  width: 200px;
  justify-content: space-between;
}