.info-home-container{
  margin: 30px 22px;
}
.info-title-home{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.info-home{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.btn-more-info{
  border: none;
  display: flex;
  text-decoration: none;
  justify-content: space-evenly;
  align-items: center;
  background-color: #C2AAFF;
  border-radius: 8px;
  width: 100px;
  height: 40px;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
}
.arrow-right{
  width: 28px;
}
@media (min-width: 800px) {
  .info-home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info-title-home, .info-home{
    max-width: 800px;
  }
}