.moreinfo-container{
  padding: 55px 22px 0;
}
.moreinfo{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.moreinfo-title{
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 28px;
  margin: 0;
}
.article-moreinfo-card{
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  border-radius: 12px;
  margin: 20px 0;
}
.article-moreinfo-card:nth-child(1n + 2){
  background-color: #E8E8E8;
  color: #000;
}
.article-moreinfo-card:nth-child(2n + 1){
  background-color: #C2AAFF;
  color: #FFF;
}
.title-moreinfo-card{
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.text-moreinfo-card{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
@media(min-width: 800px){
  .moreinfo-container{
    display: flex;
    justify-content: center;
  }
  .moreinfo{
    width: 800px;
    display: flex;
    flex-direction: column;
  }
  .moreinfo-container-card{
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    gap: 1.5rem;
  }
  .article-moreinfo-card{
    margin: 0;
  }
  
}